.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.btn_primary {
    padding: 20px 25px;
    border-radius: 5px;
    background-color: #FF900E;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.dark1_20semibold {
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
}

.dark1_45bold {
    font-size: 2.8125rem;
    font-weight: bold;
    color: #131313;
}

.dark3_regular {
    color: #727272;
}

.nav_banner_section {
    background-color: rgba(255, 144, 14, 0.1);
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main>section {
    margin-top: 80px;
}

/* navbar style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-weight: bold;
    font-size: 3rem;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

nav,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

/* banner styel */

.banner_container {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_container h1 {
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}

.banner_container p {
    color: #727272;
}

.banner_img {
    width: 100%;
    margin-bottom: 50px;
}

/* team section style */

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.team .team_img {
    width: 50%;
}

.team .team_details_container {
    width: 50%;
}

.team_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team_img img {
    width: 100%;
}

.team_title {
    font-size: 2.8rem;
}

.quick_list {
    font-weight: 500;
    color: #727272;
}

.of_out {
    font-weight: bold;
    color: #131313;
}

.features {
    font-weight: bold;
    color: #FF900E;
}

.team_details {
    color: #727272;
    margin-bottom: 50px;
}

/* features style START */

.features {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.features_container h1 {
    border-left: 10px solid #FF900E;
    padding-left: 30px;
}

.features_card {
    padding: 15px 20px 15px 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;

}

.features_card h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.features_card p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.features .features_container {
    width: 50%;
}

.features .architect_img {
    width: 50%;
}

.architect_img img {
    width: 100%;
    height: auto;
}

/* experience_badge styel */

#experience_badge {
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 35px 30px;
    margin-top: -90px;
    margin-left: -70px;
}

#experience_badge .ten_yrs {
    font-size: 3.7rem;
    font-weight: bold;
    color: white;
}

#experience_badge .exp {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}

/* ******************************* */
/* *************************** */
/* *********************** */
/* ******************* */
/* *************** */
/* *********** */
/* ******* */
/* *** */
/* Responsive media query */

@media screen and (max-width: 576px) {

    nav,
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .team {
        flex-direction: column;
    }

    .team_img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .features {
        flex-direction: column;
        gap:10px;
        width: 100%;
    }

    .features .features_container {
        width: 100%;
    }

    .features .architect_img {
        width: 100%;
    }

    .architect_img img {
        width: 100%;
        height: auto;
    }

    #experience_badge {
        margin-top: 20px;
        margin-left: 20px;
    }
    .architect_btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}